body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#login .container #login-row #login-column #login-box {
    margin-top: 100px;
    max-width: 600px;
    min-height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

.upvote-btn {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #dcdcdc;
    transition: background-color 0.3s;
    width: 68px;
}

.upvote-btn:hover {
    background-color: #9C9C9C;
}

.upvote-btn:active {
    background-color: #7f7f7f;
}

.upvoted {
    background-color: rgb(208, 251, 225);
    color: rgb(51, 191, 124);
}

.upvoted:hover {
    background-color: rgb(111, 210, 151);
}

.upvoted:active {
    background-color: rgb(82, 168, 121);
}

form#add-coin > label {
    display: block;
}

form#add-coin > label > span.label {
    width: 120px;
    float: left;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
}

.date-picker {
    width: 100%;
    background-color: #ececec;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
}

form#add-coin input.input-field {
    width: 100%;
    background-color: #ececec;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    display: block;
}

form#add-coin textarea {
    display: block;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #ececec;
    margin: 10px 0;
    height: 120px;
}

form#add-coin .description {
    background-color: #ececec;
    border-radius: 10px;
    padding: 10px;
}

form#add-coin > .btn {
    margin-left: 135px;
}

.required {
    color: red;
    font-weight: 900;
}

.add-coin-error {
    display: block;
    color: red;
    margin-bottom: 30px;
}

.footer-container {
    margin-top: 10px;
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
    text-align: center;
}

.footer-container > .footer-links > a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.submit-coin {
    width: 50%;
    margin: 0 auto;
}

.react-date-picker__wrapper {
    border: none !important;
}

.presale-checkbox {
    width: 50px;
    height: 50px;
}

.contract-address {
    color: #b2becb;
}

.coin-details-fragment {
    margin-top: 50px;
}

.social-media-icon {
    font-size: 36px;
    color: #758393;
    background-color: #f3f5f7;
    margin: 8px;
    padding: 8px;
    border-radius: 10px;
    transition: background-color ease 0.4s;
}

.social-media-icon:hover {
    background-color: #E5E7EB;
}
